@use '../utils/breakpoints' as *;
@use '../utils/mixins' as *;
@use '../utils/functions' as *;
@use '../base/variables' as *;

.large-title-1 {
  font-family: var(--font-second);
  font-size: ac(56px, 36px);
  font-weight: 500;
  line-height: 1.28;
}

.large-title-2 {
  font-family: var(--font-second);
  font-size: ac(48px, 32px);
  font-weight: 500;
  line-height: 1.12;
}

.large-title-3 {
  font-family: var(--font-second);
  font-size: ac(36px, 26px);
  font-weight: 500;
  line-height: 1.32;
}

.large-title-4 {
  font-family: var(--font-second);
  font-size: ac(32px, 24px);
  font-weight: 500;
  line-height: 1.32;
}

.title-2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4;
}

.title-3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.48;
}

.title-4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.36;
}

.title-5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32;
}

.title-6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
}

.body-text-18 {
  font-size: ac(18px, 16px);
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 0.0015em;
}

.body-text-17 {
  font-size: ac(17px, 14px);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.0015em;
}

.body-text-16 {
  font-size: ac(16px, 14px);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.0015em;
}

.content-element {
  a {
    display: inline-block;
  }

  h1 {
    font-family: var(--font-second);
    font-size: ac(38px, 32px);
    font-weight: 500;
    line-height: 1.2;
  }

  h2 {
    font-family: var(--font-second);
    font-size: ac(32px, 26px);
    font-weight: 500;
    line-height: 1.2;
  }

  h3 {
    font-family: var(--font-second);
    font-size: ac(24px, 22px);
    font-weight: 500;
    line-height: 1.2;
  }

  h4 {
    font-family: var(--font-second);
    font-size: ac(21px, 18px);
    font-weight: 500;
    line-height: 1.2;
  }

  h5 {
    font-weight: 600;
    font-size: ac(18px, 16px);
    line-height: 1.3;
    color: var(--cl-neutral-900);
  }

  h6 {
    font-weight: 600;
    font-size: ac(16px, 15px);
    line-height: 1.3;
    color: var(--cl-neutral-900);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    a {
      font: inherit;
      color: var(--cl-secondary-500);
      text-decoration: underline;
      transition: color 0.3s ease;
      word-wrap: break-word;
      overflow-wrap: break-word;
      display: inline-block;

      &:hover {
        color: var(--cl-primary-700);
      }
    }
  }

  h1,
  h2,
  h3,
  h4 {
    &:not(:last-child) {
      margin-bottom: ac(20px, 16px);
    }
  }

  p,
  ul,
  ol,
  table {
    + h1 {
      padding-top: ac(14px, 10px);
    }

    + h2 {
      padding-top: ac(14px, 10px);
    }

    + h3 {
      padding-top: ac(10px, 6px);
    }

    + h4 {
      padding-top: ac(10px, 6px);
    }
  }

  h5,
  h6,
  p,
  ul,
  ol,
  li,
  table {
    &:not(:last-child) {
      margin-bottom: ac(12px, 10px);
    }
  }

  ol {
    list-style-type: none;
    counter-reset: num;
    display: grid;
    li {
      position: relative;
      padding-left: ac(20px, 18px);
      &:before {
        position: absolute;
        color: inherit;
        top: 0;
        left: 5px;
        font: inherit;
        font-weight: 500;
        content: counter(num) '.';
        counter-increment: num;
      }
    }
  }

  ul {
    display: grid;

    li {
      position: relative;
      display: block;
      padding-left: ac(20px, 18px);

      &:before {
        position: absolute;
        background: var(--cl-primary-700);
        border-radius: 50%;
        content: '';
        width: 5px;
        height: 5px;
        top: 9px;
        left: ac(8px, 7px);
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    .admin-btn-text {
      white-space: nowrap;
      &:not(:hover) {
        color: var(--cl-blue-800);
      }

      @media (max-width: 374px) {
        font-size: 12px !important;
      }
    }

    th,
    td {
      padding: ac(10px, 8px) ac(16px, 4px);
      text-align: left;
      border-left: none;
      border-right: none;
      overflow-wrap: break-word;
      vertical-align: middle;
    }

    thead tr {
      border-bottom: 1px solid var(--cl-neutral-200);

      th:first-child {
        padding-left: 0;
      }

      th:last-child {
        padding-right: 0;

        &:not(:first-child) {
          text-align: right;
        }
      }
    }

    tbody tr {
      border-bottom: 1px solid var(--cl-neutral-200);

      td:first-child {
        padding-left: 0;
      }

      td:last-child {
        padding-right: 0;

        &:not(:first-child) {
          text-align: right;

          .admin-inline-icon-text {
            justify-content: flex-end;
          }
        }
      }
    }

    tbody:last-child {
      tr {
        &:last-child {
          border-bottom: none !important;

          td {
            padding-bottom: 0;
          }
        }
      }
    }

    &.is-3-columns {
      thead,
      tbody {
        th,
        td {
          &:nth-child(2) {
            text-align: center;

            .admin-inline-icon-text {
              justify-content: center;
            }
          }
        }
      }
    }

    &.is-left-columns {
      thead,
      tbody {
        th,
        td {
          text-align: left !important;
        }
      }
    }

    &.is-all-centered-columns {
      thead,
      tbody {
        th,
        td {
          text-align: center !important;

          .admin-inline-icon-text {
            text-align: center !important;
            justify-content: center !important;
          }
        }
      }
    }

    &.is-not-standard-layout-1-column {
      &:not([data-content-table-resize]) {
        @media (max-width: 640px) {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(1, minmax(0, 1fr));

          tbody,
          thead {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            tr {
              width: 100%;
            }
          }

          tbody {
            + thead {
              margin-top: 4px;
            }
          }

          thead {
            tr {
              border-bottom: none;
            }
          }

          tr {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          }

          td {
            padding-left: 0;
            + td {
              padding-top: 0;
            }
          }
        }
      }

      &[data-content-table-resize] {
        @media (max-width: 640px) {
          thead {
            tr {
              border-bottom: none;
            }

            th {
              padding-bottom: 0;
            }
          }

          &.is-2-columns {
            tbody {
              tr {
                border-bottom: none;
              }

              + thead {
              }

              &:nth-of-type(2n) {
                tr {
                  border-bottom: 1px solid var(--cl-neutral-200);
                }
              }

              &:nth-of-type(2n + 1) {
                tr {
                  td {
                    padding-bottom: 0;
                  }
                }
              }
            }
          }

          &.is-3-columns {
            tbody {
              tr {
                border-bottom: none;
              }

              + thead {
              }

              &:nth-of-type(3n) {
                tr {
                  border-bottom: 1px solid var(--cl-neutral-200);
                }
              }

              &:nth-of-type(3n + 1) {
                tr {
                  td {
                    padding-bottom: 0;
                  }
                }
              }

              &:nth-child(4),
              &:nth-child(10),
              &:nth-child(16),
              &:nth-child(22),
              &:nth-child(28),
              &:nth-child(34),
              &:nth-child(40),
              &:nth-child(46),
              &:nth-child(52),
              &:nth-child(58),
              &:nth-child(64),
              &:nth-child(70),
              &:nth-child(76),
              &:nth-child(82),
              &:nth-child(88),
              &:nth-child(94),
              &:nth-child(100),
              &:nth-child(106),
              &:nth-child(112),
              &:nth-child(118) {
                tr {
                  td {
                    padding-top: 2px;
                    padding-bottom: 0;
                  }
                }
              }
            }
          }

          &.is-4-columns {
            thead {
              tr {
                border-bottom: none;
              }
            }
            tbody {
              tr {
                padding-top: 0;
              }
            }
          }
        }
      }
    }

    @media (max-width: 374px) {
      table-layout: auto;
    }
  }

  &[data-simplebar] {
    width: calc(100% + 10px);
    padding-right: 10px;

    .simplebar-track.simplebar-vertical {
      width: ac(4px, 2px);
      background: var(--cl-gray-line);
      border-radius: 2px;
      transition: opacity 0.3s ease;

      .simplebar-scrollbar {
        background: var(--cl-neutral-800);
        border-radius: 2px;

        &:before {
          content: none;
        }
      }
    }
  }

  &.micro-size {
    p,
    li {
      font-size: 12px;
      line-height: 1.4;
      font-weight: 500;

      a {
        font-weight: 500;
      }

      @media (max-width: 640px) {
        line-height: 1.1;
      }
    }
  }

  &.smallest-size {
    p,
    li {
      font-size: 14px;
      line-height: 18px;

      a {
        font-weight: 600;
      }
    }
  }

  &.small-size {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.44;

    p,
    li {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.44;
    }

    ul,
    ol,
    p {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &.small-size-medium {
      font-weight: 500;

      p,
      li {
        font-weight: 500;
      }
    }
  }

  &.main-size {
    font-size: ac(18px, 16px);
    font-weight: 400;

    line-height: 1.44;

    p {
      font-size: ac(18px, 16px);
      font-weight: 400;

      line-height: 1.44;

      @media (max-width: 640px) {
        line-height: 1.4;
      }
    }

    li {
      font-size: ac(18px, 16px);
      font-weight: 500;

      line-height: 1.55;

      @media (max-width: 640px) {
        line-height: 1.4;
      }
    }

    p,
    ul,
    ol {
      &:not(:last-child) {
        margin-bottom: ac(15px, 16px);
      }
    }
  }

  &.medium-size {
    font-size: ac(20px, 18px);
    line-height: 1.4;
    font-weight: 600;

    p,
    li {
      font-size: ac(20px, 18px);
      line-height: 1.4;
      font-weight: 600;

      @media (max-width: 640px) {
        line-height: 1.4;
        font-weight: 500;
      }
    }
  }
}
