@use '../utils/breakpoints' as *;
@use '../utils/mixins' as *;
@use '../utils/functions' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --font-main: 'Montserrat', sans-serif;
  --font-second: 'Roboto Slab', serif;
  --font-third: sans-serif;

  --cl-neutral-50: #ffffff;
  --cl-neutral-75: #f8f8f8;
  --cl-neutral-100: #efefef;
  --cl-neutral-200: #dcdcdc;
  --cl-neutral-300: #bdbdbd;
  --cl-neutral-400: #989898;
  --cl-neutral-500: #7c7c7c;
  --cl-neutral-600: #656565;
  --cl-neutral-700: #525252;
  --cl-neutral-800: #464646;
  --cl-neutral-900: #3d3d3d;
  --cl-neutral-950: #292929;

  /* Primary — насыщенный зелёно-оливковый */
  --cl-primary-50: #f3f7f1;
  --cl-primary-100: #e2efe0;
  --cl-primary-200: #c5debf;
  --cl-primary-300: #a2c497;
  --cl-primary-400: #7fa972;
  --cl-primary-500: #638f58; /* базовый тон */
  --cl-primary-600: #4f7545;
  --cl-primary-700: #3d5d36;
  --cl-primary-800: #2c4528;
  --cl-primary-900: #1c2f1a;
  --cl-primary-950: #0e160d;

  /* Secondary — насыщенный кофейно-апельсиновый */
  --cl-secondary-25: #fff8f2;
  --cl-secondary-50: #fff1e6;
  --cl-secondary-100: #ffead1;
  --cl-secondary-200: #ffd4a8;
  --cl-secondary-300: #ffb979;
  --cl-secondary-400: #ffa251;
  --cl-secondary-500: #e68b33;
  --cl-secondary-600: #dc7726; /* базовый тон */
  --cl-secondary-700: #c46923;
  --cl-secondary-800: #8f4316;
  --cl-secondary-900: #662e11;
  --cl-secondary-950: #331607;

  --cl-green-50: #ebfef6;
  --cl-green-100: #cffce7;
  --cl-green-200: #a4f6d3;
  --cl-green-300: #69ecbd;
  --cl-green-400: #2ddaa1;
  --cl-green-500: #09c48d;
  --cl-green-600: #009c71;
  --cl-green-700: #007d5e;
  --cl-green-800: #02634c;
  --cl-green-900: #03513f;
  --cl-green-950: #002e25;

  --cl-blue-50: #eff6ff;
  --cl-blue-100: #dbeafe;
  --cl-blue-200: #bfdbfe;
  --cl-blue-300: #93c5fd;
  --cl-blue-400: #60a5fa;
  --cl-blue-500: #3b82f6;
  --cl-blue-600: #2563eb;
  --cl-blue-700: #1d4ed8;
  --cl-blue-800: #1e40af;
  --cl-blue-900: #1e3a8a;
  --cl-blue-950: #172554;

  --cl-red-50: #fff1f1;
  --cl-red-100: #ffdfdf;
  --cl-red-200: #ffc5c5;
  --cl-red-300: #ff9d9d;
  --cl-red-400: #ff6464;
  --cl-red-500: #ff3232;
  --cl-red-600: #ed1515;
  --cl-red-700: #c80d0d;
  --cl-red-800: #a50f0f;
  --cl-red-900: #881414;
  --cl-red-950: #4b0404;

  --gradient-deg: 180deg;
  --cl-gradient: linear-gradient(
    var(--gradient-deg),
    var(--cl-primary-700) 0%,
    var(--cl-primary-600) 100%
  );

  --cl-black: #242426;

  --cl-black-rgb: 0 0 0;

  --cl-black-regular: #464649;

  --cl-secondary: #e36b40;
  --cl-secondary-rgb: 236 97 42;

  --cl-white: #ffffff;
  --cl-white-rgb: 255 255 255;

  --cl-light-bg: #ebf9ff;

  --cl-horizon-bg: #f3fafb; /*Placing BG*/

  --cl-gray-line: #d3d3d9;

  --cl-light-gray: #d0d1d3;

  --cl-mid-gray: #888996;

  --cl-dark-gray: #686976;

  --cl-darked-gray: #363638;

  --cl-black-gray: #54545f;

  --cl-light-orange: #f58f45;

  --cl-teal: #009e94;

  --cl-sky: #1799ba;

  --cl-amber: #f7ad40;

  --cl-green: #229f5b;

  --cl-light-beige: #fef5e8;

  /* --mobile-menu-start-point and @custom-media --mobile-menu-start-point must be the same */
  --mobile-menu-start-point: 1200;

  --vh: calc(100vh / 100);

  --main-shadow: rgba(0, 0, 0, 0.08) 0px 4px 6px -1px, rgba(0, 0, 0, 0.04) 0px 2px 4px -1px;
  --main-shadow-top: rgba(0, 0, 0, 0.04) 0px -4px 6px -1px, rgba(0, 0, 0, 0.02) 0px -2px 4px -1px;

  --cart-width: 160px;

  --font-second-letter-spacing: 0.02em;

  --top-nav: 0;

  --title-decor-color: var(--cl-secondary-500);

  --arw: 1;
  --arh: 1;
}

$mobile-menu-start-point: 1200px;
$mobile-menu-end-point: 1201px;

@media (max-width: $mobile-menu-start-point) {
  /* Styles for mobile menu start point */
}

@media (min-width: $mobile-menu-end-point) {
  /* Styles for mobile menu end point */
}
